@import '../../../base-styles/globals';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 rem(40);
  margin: rem(24) 0 0;
  padding: rem(32) rem(16);
  border: 2px solid $pry-col;
  border-radius: rem(10);

  h3 {
    color: $pry-col-dark;
    text-transform: capitalize;
  }
}

.pokedex_info {
  overflow: hidden;
  padding: 0;
}

@include min(600) {
  .wrapper {
    padding: rem(24);
  }

  .pokedex_info {
    padding: 0 rem(20);
  }
}

@include min(900) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    padding: rem(48) rem(16);
  }

  .pokedex_info {
    padding: 0;
  }
}

@include min(1200) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    padding: rem(48);
    margin: rem(64) 0 0;
  }
}
