@import '../../../../../base-styles/globals';

.content_title {
  margin: 0 auto 1rem 0;
  width: 100%;
}

.images_wrapper {
  display: flex;
  column-gap: rem(6);
  @include scroll;

  button {
    background-color: $pry-col-light;
    height: 70px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: rem(5);
    @include transition(transform);

    &:hover {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include min(450) {
  .images_wrapper {
    button {
      height: 80px;
    }
  }
}

@include min(600) {
  .images_wrapper {
    column-gap: rem(24);
  }
}

@include min(900) {
  .images_wrapper {
    gap: rem(6);

    button {
      height: 50px;
    }
  }
}

@include min(1024) {
  .images_wrapper {
    column-gap: rem(24);

    button {
      height: 80px;
    }
  }
}
