@import './theme-colors';
@import './fonts';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font: {
    size: 16px;
    family: 'Open Sans', 'Roboto', sans-serif;
  }
  min-height: 100vh;
  background-color: $sec-col;
  line-height: 1.5rem;
  color: $pry-col;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}
