@use 'sass:math';

@mixin min($breakpoint) {
  @media (min-width: ($breakpoint + px)) {
    @content;
  }
}

@function rem($px-value) {
  @return math.div($px-value, 16) * 1rem;
}

@mixin transition($value) {
  transition: $value 0.25s ease-out;
}

@mixin scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
