@import '../../../../../base-styles/globals';

.nav {
  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    column-gap: rem(48);
    justify-content: space-between;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    border-bottom: 1px solid $pry-col;

    li {
      padding: 1rem 0;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

.nav_content {
  min-height: 100px;
  margin-top: rem(24);
}
