@import '../../../../base-styles/globals';

.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: rem(6);

  button {
    height: 50px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: rem(5);
    @include transition(transform);

    &:hover {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include min(450) {
  .form {
    button {
      height: 80px;
    }
  }
}

@include min(600) {
  .form {
    gap: rem(24);
  }
}

@include min(900) {
  .form {
    gap: rem(6);
  }
}

@include min(1024) {
  .form {
    gap: rem(24);
  }
}
