@import '../../../base-styles/globals';

.error {
  text-align: center;
  text-transform: capitalize;

  &_btn {
    margin: 1rem auto;
    background: $pry-col;
    border-radius: rem(5);
    color: $pry-col-light;
    cursor: pointer;
    text-transform: inherit;
    font-weight: bold;
    @include transition(background);

    &:hover {
      background: $pry-col-dark;
    }
  }

  .lg {
    padding: 1rem 1.75rem;
  }

  .sm {
    padding: 0.5rem 1rem;
  }
}
