@import '../../../../reusables/nav-content-base-style';

.content {
  gap: rem(24);

  .item {
    width: unset;

    & > h4 {
      color: $pry-col;
      text-transform: capitalize;
    }
  }

  .no_item {
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
  }
}
