@import '../../../../reusables/nav-content-base-style';

.content_wrapper {
  gap: rem(24);

  .item {
    width: unset;
  }

  .no_item {
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
  }
}
