@import '../../../../../base-styles/globals';

.content_title {
  margin: 0 auto 1rem 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16);
  list-style-type: none;

  max-height: 200px;
  text-transform: capitalize;
  @include scroll;

  li {
    border-radius: rem(5);
    color: $pry-col-dark;
    padding: rem(2) rem(20);
  }
}
