@import '../../../../base-styles//globals';

.top_header {
  text-align: center;

  h1 {
    font-size: rem(32);
    color: $pry-col-dark;
  }

  h4 {
    margin: rem(16) 0 0 0;
    font-weight: 500;
  }

  &__search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: rem(16) auto 0;
    max-width: rem(600);

    .input_wrapper {
      border-radius: rem(5);
      flex-grow: 1;
      flex-basis: 100%;
      position: relative;
      overflow: hidden;

      input {
        width: 100%;
        background: $pry-col-light;
        padding: 1rem 1rem 1rem 3rem;
      }

      .search_icon {
        position: absolute;
        height: 25px;
        left: 0.75rem;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}
