@import '../../../../base-styles/globals';

.nav {
  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    column-gap: rem(48);
    justify-content: space-between;
    @include scroll;
    border-bottom: 1px solid $pry-col;

    li {
      padding: 0 0 1rem 0;
      font-weight: 700;
      text-transform: capitalize;
      white-space: nowrap;
      border-bottom: rem(2) solid transparent;
      @include transition(border-color);

      button {
        all: unset;
        display: block;
        cursor: pointer;
      }
    }
  }
}
.nav_content {
  min-height: 100px;
  margin-top: rem(40);
  padding: 0 1rem;
}
