@import '../../../base-styles/globals';

.layout {
  padding-bottom: rem(64);

  .loading {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
  }

  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  .all_pokemon_fetch {
    color: $pry-col;
    position: absolute;
    left: 50%;

    transform: translate(-50%);
    display: inline-block;
    padding: 1rem 2rem;
    background: $pry-col-light;
    text-transform: capitalize;
    border-radius: 0 0 rem(5) rem(5);
    font-weight: 600;
    @include transition(top);

    > div {
      display: flex;
      column-gap: 1rem;

      button {
        padding: 0.25rem 1rem;
        background: $pry-col;
        border-radius: rem(5);
        color: $pry-col-light;
        font-weight: bold;

        &:hover {
          background: $pry-col-dark;
        }
      }
      span {
        flex-shrink: 0;
      }
    }
  }

  .show {
    top: 0%;
  }

  .hide {
    top: -100%;
  }
}
