@import '../../../../base-styles//globals';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40) rem(20);
  margin: rem(24) 0 0;
  padding: rem(16);
  border: 2px solid $pry-col;
  border-radius: rem(10);
}

@include min(576) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@include min(768) {
  .wrapper {
    gap: rem(40) rem(40);
  }
}

@include min(900) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40) rem(20);
  }
}

@include min(1200) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: rem(40) rem(40);
    padding: rem(40);
  }
}
