@import '../../../../../base-styles/globals';

.wrapper {
  .evolutions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    & > img {
      width: 35px;
      height: 100%;
      object-fit: contain;
    }

    span {
      border-radius: rem(5);
      color: $pry-col-dark;
      padding: rem(5) rem(20);
      background: $pry-col;
      text-transform: capitalize;
    }
  }
}
