@import '../../../../../base-styles/globals';

.content {
  &_title {
    margin: 0 auto 1rem 0;
    width: 100%;
  }
  .evolutions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    @include scroll;

    & > h4 {
      width: 100%;
      text-align: center;
    }

    & > img {
      width: 35px;
      height: 100%;
      object-fit: contain;
    }

    span {
      border-radius: rem(5);
      color: $pry-col-dark;
      padding: rem(5) rem(20);
      background: $pry-col;
      text-transform: capitalize;
    }
  }
}
